@import url('https://fonts.googleapis.com/css?family=Cookie|Crimson+Text|Josefin+Sans|Lato|Oswald|Raleway|Montserrat:800');

@media only screen and (max-width: 768px) {
    #page2 #portrait #foto, #page3 #karam3 {

        width: 25vw;
        height: 22vh;

    }

    #page2 #mijnskills #logovoorbeeld #logo {
        width: 30vw;
        height: 20vh;
    }

    #page2 #mijnskills #fotovoorbeeld #fotografie {
        width: 30vw;
        height: 20vh;
    }
}

body, html {
    height: 100%;
    margin: 0;
}

/* First page styling */
#page1 {
    background-image: url("karam.jpg");

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navigation bar Page 1 hieronder*/
#navopen {
    width: 7%;
    height: 7%;
}

nav {
    font-family: 'Raleway', sans-serif;
}

#page1 nav {

    width: 100%;
    height: 30%;
    margin-top: 2%;

}

#page1 nav ul {
    height: 100%;
    list-style-type: none;
    padding-left: 20px;
    overflow: hidden;

    margin: 0 20% 0 0;

    /*background-color: rgba(51, 51, 51, 0.34);*/
}

#page1 nav ul li {
    border: 1px solid #bbb;
    border-radius: 7%;
    display: inline-block;
    transition: all 0.3s ease-in-out;

}

#page1 nav ul li:first-child {
    margin-left: 10%;
}

#page1 nav ul li:first-child:hover {
    margin-top: 2%;
    margin-left: 10%;
}

#page1 nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#page1 nav ul li:hover {
    background-color: rgba(115, 115, 115, 0.56);
    transform: scale(1.6);
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);

}

#page1 nav ul li a:active {
    background-color: gray;
    color: white;
}

#page1 .cv {
    float: right;
}

/*navigation bar Page 1 ends here*/

#page1 .container {
    display: table;
    table-layout: fixed;
    width: 100%;

}

#page1 .container .namec {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    width: 40%;
}

#page1 .container .myname {
    color: white;
    text-align: center;
    font-family: "Crimson Text", serif;
    font-size: 2.25em;
    font-weight: 600;
    font-style: italic;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.137);
    height: 100%;
    vertical-align: middle;

}

#page1 .container .welcome {
    font-family: 'Oswald', sans-serif;
    font-size: 4.75em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    color: #fff;
    letter-spacing: 2px;
    margin: 0 auto;
}

/* PAGE 1 ENDS HERE*/
/* PAGE 2 STARTS HERE*/
#page2 {
    height: 100%;
    background: white;

}

/*navbar page2*/

#page2 .test {
    position: fixed;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    transition: top 0.3s;
}

#page2 nav {
    font-size: 15px;
    padding: 0;
    list-style: none;
    background: rgba(36, 36, 36, 0.83);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    display: flex;
    width: 50%;
    top: 0;
    justify-content: space-evenly;

}

#page2 nav ul {
    margin: 0;

}

#page2 nav ul li {
    display: inline-block;
    margin: 0;
    color: white;

}

#page2 .flexbox {
    /*YOU JUST FOUND AN EASTER EGG*/
}

#page2 nav ul li a:hover {

    background: rgba(0, 158, 7, 0);
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.0) 25%, rgba(0, 158, 7, 0) 50%, #b1f051 75%, #7fb234 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.0) 25%, rgba(0, 158, 7, 0) 50%, #b1f051 75%, #7fb234 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.0) 25%, rgba(0, 158, 7, 0) 50%, #b1f051 75%, #7fb234 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: 400% 400%;
    background-repeat: no-repeat;
    /*background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);*/
    background-position: 100% 100%;
    max-width: 100vw;
    max-height: 100vh;
    cursor: pointer;
    color: white;
    transition: 0.7s;

}

#page2 nav ul li a {
    text-decoration: none;
    color: #8ec639;
    text-transform: uppercase;
    padding: 15px 20px;
    display: inline-block;
    position: relative;
    z-index: 1;

}

/*nav bar page2*/

/*Header pag2*/
#page2 header {

    display: flex;
    align-items: center;
    justify-content: left;
    background-image: url("images/grass.jpg");
    background-repeat: no-repeat;
    box-shadow: inset -0px -5px 20px rgba(82, 82, 82, 0.83);
    background-size: 100%;
    background-color: transparent;
    height: 30%;
    text-align: center;
}

#page2 header .info {
    margin-left: 10%;
    width: 30%;
}

#page2 header .name {
    margin-right: 5%;
    color: white;
    font-family: "Crimson Text", serif;
    font-size: 1.75em;
    font-weight: lighter;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.137);
}

#page2 header .skills {
    font-family: 'Oswald', sans-serif;
    font-size: 2.30em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    color: #fff;
    letter-spacing: 2px;
    margin: 0 auto;
}

/*Header pag2*/

/*main photos and text styling */
#page2 main {
    padding-left: 10%;
    width: 68%;
}

#page2 main .Hi {
    font-family: 'Cookie', cursive;
    font-size: 2.5em;
}

#page2 .portrait {
    display: inline-block;
}

#page2 .portrait img {
    border-radius: 50%;
    width: 20vw;
    height: 45vh;

}

#page2 .infot {
    margin-top: 2%;
    margin-left: 2%;
    display: inline-block;
    vertical-align: top;
    font-family: 'Lato', sans-serif;
}

#page2 hr {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 68%;
}

#page2 .wkid {
    padding-left: 10%;
    width: 68%;
    font-family: 'Cookie', cursive;
    font-size: 2.5em;
}

#page2 .mijnskills {
    display: flex;
    padding-left: 10%;
    width: 68%;
    justify-content: center;
}

#page2 .mijnskills .logovoorbeeld {
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

#page2 .logovoorbeeld .logosm {
    margin-top: 2%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 25vw;
    text-shadow: 0 0 6px mediumaquamarine;
    color: deepskyblue;
}

#page2 .logovoorbeeld .logotxt {
    margin-top: 10%;
    font-family: 'Lato', sans-serif;
    width: 25vw;
}

#page2 .logovoorbeeld .image {
    width: 25vw;
    height: 30vh;
}

#page2 .fotovoorbeeld {
    display: flex;
    flex-direction: column;
}

#page2 .fotovoorbeeld .fotografie {
    width: 25vw;
    height: 30vh;
}

#page2 .fotovoorbeeld .fotom {
    margin-top: 2%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 25vw;
    text-shadow: 0 0 6px mediumaquamarine;
    color: deepskyblue;
}

#page2 .fotovoorbeeld .fototxt {
    margin-top: 10%;
    font-family: 'Lato', sans-serif;
    width: 25vw;
}

#page2 footer {
    text-align: center;
    margin-top: 3%;
    bottom: 0;
    background-color: #525252;
    width: 100%;
    color: white;
    height: 5%;
}

/*Page2 Ends here*/

/*Page3 Starts here*/

/*Nav Page3 Here*/
#page3 .fa-2x {
    font-size: 1.8em;
}

#page3 .fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.8em;
}

.main-menu:hover, #page3 nav.main-menu.expanded {
    width: 250px;
    overflow: visible;

}

.main-menu {
    display: flex;
    align-items: center;
    box-shadow: 2px 0 5px 1px rgba(48, 48, 48, 0.4);
    background: #303030;
    border-right: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 900;
}

.main-menu > ul {
    height: 20%;
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li > a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #D5C89C;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;

}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 20px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Raleway', sans-serif;
}

#page3 nav ul, #page3 nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover > a {
    color: #fff;
    background-color: #5fa2db;
}

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

/*End nav Page3 */

/*Header pag3*/
#page3 header {

    display: flex;
    align-items: center;
    justify-content: left;
    background-image: url("images/grass2.jpg");
    background-repeat: no-repeat;
    box-shadow: inset -0px -5px 20px rgba(82, 82, 82, 0.83);
    background-size: 100% 200%;
    background-color: transparent;
    height: 30%;
    text-align: center;

}

#page3 header .info {
    margin-left: 10%;
    width: 35%;
}

#page3 header .name {
    margin-right: 5%;
    color: white;
    font-family: "Crimson Text", serif;
    font-size: 1.75em;
    font-weight: lighter;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.137);
}

#page3 header .skills {
    font-family: 'Oswald', sans-serif;
    font-size: 2.30em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    color: #fff;
    letter-spacing: 2px;
    margin: 0 auto;
}

/* end Header page 3*/
/*Easteregg starts here*/
#page3 .intro {
    padding-left: 10%;
    width: 69%;
}

#page3 .intro .karam3 {
    width: 15vw;
    height: 30vh;
    margin: 10px;
    border-radius: 50%;
}

#page3 .intro .pq {
    display: inline-block;
    margin-top: 5%;
    vertical-align: top;
    font-family: 'Lato', sans-serif;
    width: 50%;
}

/* Easteregg end*/
/*Page3 Flexbox*/

#page3 .flexbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

}

#page3 .flexbox img {
    width: 25vw;
    height: 30vh;
    margin: 2%;
    vertical-align: middle;
}

#page3 .flexbox .tcr1, #page3 .flexbox .tcr2 {
    display: flex;
    flex-direction: column;
    margin: 1%;
    align-items: center;
}

/*Page3 Flexbox*/
/*Page3 Table*/
#page3 .tabel .school, #page3 th, #page3 td {
    border: 1px solid black;
    border-collapse: collapse;
}

#page3 .tabel .school, #page3 legend {
    margin-left: 10%;
    width: 68%;
    text-align: center;

}

#page3 .tabel .school {
    height: 50vh;
}

#page3 caption {
    margin-bottom: 1%;
    margin-top: 1%;
}

/*page3 Table*/
/*page3 footer*/
#page3 footer {
    position: relative;
    z-index: 1000;
    margin-top: 3%;
    bottom: 0;
    background-color: #525252;
    width: 100%;
    color: white;
    height: 5%;
    text-align: center;
}

/*page3 footer*/
/*page3 ends here*/

/*Page4 Styling*/
#hp4 {
    background: url(images/contact.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Card and Social-icons are the styling that made the transition of the card possible*/

#mainsec {
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centering {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
}

.card /*card size + transition time*/
{
    border-radius: 10%;
    margin-top: 5%;
    width: 300px;
    height: 350px;
    transform-style: preserve-3d;
    transition: 0.5s;
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
}

.card .front img {
    border-radius: 10%;
    width: 100%;
    height: 100%;
}

.card .front /*front face of the card*/
{
    border-radius: 10%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}

.card:hover .front /*the actual transition from front size*/
{
    transform: rotateX(-180deg);
}

.card .back /*back face of the card*/
{
    border-radius: 10%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9CE0E6;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
}

.card .back:before /*splitting the card color in half*/
{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}

.card:hover .back /*the actual transition from back size*/
{
    transform: rotateX(0deg);
}

.card .back .details {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.card .back .details h2 {
    padding: 0;
    margin: 2px;
    font-size: 24px;
}

.card .back .details span {
    color: #a7a7a7;
    font-size: 16px;
}

.social-icons {
    padding: 0;
}

.social-icons a {
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    background: #3dcedb;

    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;

}

.social-icons a .fa {
    line-height: 36px;
}

.social-icons a:hover {
    background: #e91e36;
}

/* Here ends Card Styling*/

/* Page4 Footer*/
#page4 footer {

    margin-top: 3%;
    bottom: 0;
    background-color: #525252;
    width: 100%;
    color: white;
    height: 5%;
    text-align: center;
}
/* Page4 Footer ends here */

/* Page 4 Navigatie*/
#page4 .test {
    position: fixed;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    transition: top 0.3s;
    z-index: 99999;
}

#page4 nav {
    font-size: 15px;
    padding: 0;
    list-style: none;
    background: rgba(36, 36, 36, 0.83);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    display: flex;
    width: 50%;
    top: 0;
    justify-content: space-evenly;

}

#page4 nav ul {
    margin: 0;

}

#page4 nav ul li {
    display: inline-block;
    margin: 0;
    color: white;

}

#page4 nav ul li a:hover {

    background: rgba(0, 158, 7, 0);
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.0) 25%, rgba(0, 158, 7, 0) 50%, #05abe0 75%, #8200f4 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.0) 25%, rgba(0, 158, 7, 0) 50%, #05abe0 75%, #8200f4 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.0) 25%, rgba(0, 158, 7, 0) 50%, #05abe0 75%, #8200f4 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: 400% 400%;
    background-repeat: no-repeat;
    /*background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);*/
    transition: 0.7s all;
    background-position: 100% 100%;
    max-width: 100vw;
    max-height: 100vh;
    cursor: pointer;
    color: white;
}

#page4 nav ul li a {
    text-decoration: none;
    color: cyan;
    text-transform: uppercase;
    padding: 15px 20px;
    display: inline-block;
    position: relative;

}

/* Page 4 Navigatie Ends Here*/

/* Page 4 Contact Box*/
#page4 .contact-container {
    width: 70%;
    background: rgba(16, 61, 55, 0.71);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    padding: 90px 130px 88px 148px;
}

#page4 .contact1-form {
    width: 390px;
}

#page4 .contact1-form {
    width: 390px;
}

#page4 .contact1-form-title {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #07eded;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 44px;
}

#page4 input.input1 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
}

#page4 input.input1 + .shadow-input1 {
    border-radius: 25px;
}

#page4 textarea.input1 {
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
}

#page4 textarea.input1 + .shadow-input1 {
    border-radius: 25px;
}

#page4 .wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}

#page4 .input1 {
    border-width: 0;
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
}

#page4 .shadow-input1 {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(66, 162, 189, 0.67);
    padding: 0 30px;
}

#page4 .input1:focus + .shadow-input1 {
    animation: anim-shadow 0.5s ease-in-out forwards;

}

#page4 input:focus {
    outline: none;
}

#page4 textarea:focus {
    outline: none;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 13px 5px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 13px 23px;
        opacity: 0;
    }
}

#page4 .container-contact-form-button {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#page4 .contact-form-button {
    border-width: 0;
    min-width: 193px;
    height: 50px;
    border-radius: 25px;
    background: #3adfd1;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

#page4 .contact-form-button i {
    margin-left: 7px;


    transition: all 0.4s;
}

#page4 .contact-form-button:hover {
    background: #333333;
}

#page4 .contact-form-button:hover i {
    transform: translateX(10px);
}

/* Page 4 Contact box ends here*/
/*Page 4 Ends Here*/