@media only screen and (max-width: 490px){
    #page1 #cn #nc
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        margin-top: 130%;
    }
    #page1 #cn
    {
        width: 100%;
    }
    #page1 #cn #nc #welcome
    {
        font-size: 2.5em;
    }
    #page1 #cn #nc #myname
    {
        font-size: 1.7em;
    }


}
@media only screen and (max-width: 480px) {
    #page3 .flexbox
    {width: 100%}
    #page3 .flexbox img
    {
        width: 20em;
        height: 25vh;
    }
    #page4 #mainsec #bg
    {
        width: 80%;

        background-color: rgba(84, 151, 156, 0.64);
        padding-left: 5%;
    }
    #page4 #mainsec .centering
    {
        display: flex;
        justify-content: center;
        width: 70%;
        height: 50%;
        margin-left: 23px;
    }

     nav
    {display: none;}
    #page3 #navp3 , #page2 #navp2,#page4 #navp4
    {display: none;}
     #mySidenav
    {display:block; }
    #navopen
    {display: block;
    position:fixed;}
    #page2 header #info
    {width:100%;
        margin-left:0;}

}
/*@media only screen and (min-width: 480px) {*/

     /*#page2 nav*/
    /*{*/
        /*width: 101%;*/
    /*}*/

/*}*/
@media only screen and (min-width: 859px)
{
     #page2 nav , #page4 nav
    {    width: 60%;}
}
@media only screen and (max-width: 768px) {
    #page2 nav , #page4 nav
    {    width: 70%;}
    #page3 .flexbox
    {width: 100%}
    #page3 .flexbox img
    {
        width: 20em;
        height: 25vh;

    }
    #page3 header #info {
        width: 100%;
        margin-left: 0;
    }

    #page3 header #info #skills {
        font-size: 1.7em;
    }

    #page3 header #info #name {
        font-size: 1.3em;
    }
    #page4 #mainsec .centering
    {
        display: flex;
        justify-content: center;
        width: 70%;
        height: 50%;
        margin-left: 50px;
    }
}

@media only screen and (min-width: 768px) {
    #page3 header #info {
        width: 65%;
    }

}
    @media only screen and (min-width: 1024px) {
        #page3 header #info {
            width: 48%;
        }

    }



@media only screen and (min-width: 481px) {
     nav
    {display: block;}
    #page3 #navp3 , #page2 #navp2
    {display: flex;}
     #mySidenav
    {display: none;}
     #navopen
    {display: none;
    }

}





/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
#page1 .sidenav{
    background-color: rgba(176, 176, 176, 0.62);
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
#page1 .sidenav a{
    color: white;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {

    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
